In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("inquirer_cleaned.csv")

In [3]:
df.head(10)

          Word  isPositive Sentiment
0      ABANDON           0       neg
1  ABANDONMENT           0       neg
2        ABATE           0       neg
3     ABDICATE           0       neg
4        ABHOR           0       neg
5        ABIDE           1       pos
6      ABILITY           1       pos
7       ABJECT           0       neg
8         ABLE           1       pos
9     ABNORMAL           0       neg

In [4]:
# Should have just done this before
df["Word"] = df["Word"].apply(lambda x : x.lower())
df.head(10)

          Word  isPositive Sentiment
0      abandon           0       neg
1  abandonment           0       neg
2        abate           0       neg
3     abdicate           0       neg
4        abhor           0       neg
5        abide           1       pos
6      ability           1       pos
7       abject           0       neg
8         able           1       pos
9     abnormal           0       neg

In [23]:
# train classifier
pos_words = df[df.Sentiment=="pos"]["Word"]
neg_words = df[df.Sentiment=="neg"]["Word"]

def remove_punctuation(word):
    return word.replace(".","").replace(",","").replace("'","").replace("!","")
def is_positive(l):
    l = remove_punctuation(l)
    print(l)
    s = l.split()
    pos_score = 0
    neg_score = 0
    for word in s:
        if word.lower() in pos_words:
            pos_score += 1
        if word.lower() in neg_words:
            neg_score += 1
    print(pos_score,neg_score)
    return pos_score > neg_score

In [24]:
is_positive("Trump Targets Muslim Areas in Refugee Ban")

Trump Targets Muslim Areas in Refugee Ban
0 0

False

In [25]:
is_positive("Trump Vows Cuts in Wall St. Rules From Obama Era")

Trump Vows Cuts in Wall St Rules From Obama Era
0 0

False

In [26]:
is_positive("World Leaders Pledge $1.1 Trillion to Tackle Crisis")

World Leaders Pledge $11 Trillion to Tackle Crisis
0 0

False

In [29]:
is_positive("A Giant U.S. Bomb Strikes ISIS Caves In Afghanistan")

A Giant US Bomb Strikes ISIS Caves In Afghanistan
0 0

False

In [30]:
pos_words

5                abide
6              ability
8                 able
12              abound
20             absolve
21           absorbent
22          absorption
25           abundance
26            abundant
29              accede
30          accentuate
31              accept
32          acceptable
33          acceptance
34          accessible
35           accession
37             acclaim
38         acclamation
39            accolade
40         accommodate
41       accommodation
42       accompaniment
43          accomplish
44      accomplishment
45              accord
46          accordance
48         accountable
49              accrue
50            accuracy
51            accurate
             ...
3550             vivid
3554         voluntary
3556         vouchsafe
3566              warm
3567       warmhearted
3568            warmth
3583           welcome
3584           welfare
3585              well
3589         whimsical
3592         wholesome
3596           willful
3597           willing
3598       willingness
3602            wisdom
3603              wise
3607             witty
3610            wonder
3611         wonderful
3612          wondrous
3613               woo
3614          workable
3615       workmanship
3616      world-famous
3623             worth
3624       worth-while
3625        worthiness
3627            worthy
3642            zenith
3643              zest
Name: Word, Length: 1638, dtype: object

In [31]:
neg_words

0             abandon
1         abandonment
2               abate
3            abdicate
4               abhor
7              abject
9            abnormal
10            abolish
11         abominable
13           abrasive
14             abrupt
15            abscond
16            absence
17             absent
18      absent-minded
19           absentee
23             absurd
24          absurdity
27              abuse
28              abyss
36           accident
47             accost
53           accursed
54         accusation
55             accuse
56               ache
64        acrimonious
65           acrimony
73             addict
74          addiction
            ...
3595             wild
3599             wilt
3600             wily
3601            wince
3604       witchcraft
3605         withheld
3606         withhold
3608              woe
3609           woeful
3617             worn
3618          worrier
3619            worry
3620            worse
3621           worsen
3622            worst
3626        worthless
3628            wound
3629            wrath
3630            wreck
3631          wrestle
3632           wretch
3633     wretchedness
3634          wrinkle
3635           writhe
3636            wrong
3637         wrongful
3638          wrought
3639             yawn
3640            yearn
3641             yelp
Name: Word, Length: 2006, dtype: object